* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

#moon::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: lightgray;
  border-radius: 100px;
  right: 10px;
  top: 11px;
}

#moon::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: lightgray;
  border-radius: 100px;
  right: 10px;
  top: 3px;
}

#hello {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.workExperienceItem:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.collaspedNavLine {
  display: inline-block;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.collaspedNavLine.col-3 {
  width: 10%;
}

.collaspedNavLine.col-5 {
  width: 30%;
}
